<md-toolbar>
  <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="clc.openLeftMenu()" hide-gt-sm>
          <i class="material-icons">menu</i>
      </md-button>
      <h2 md-truncate flex>Aeon Home Survey Administration</h2>
      <md-button ng-click="clc.logout()">
          Logout
      </md-button>
  </div>
</md-toolbar>
<div layout="row" class="full-height" ng-cloak>
  <div ng-include="'views/partials/sidenav.html'"></div>
  <md-content flex layout-padding>
      <div layout="column">
          <div layout="row">
              <div flex>
                  <h2 class="md-display-1">Admin | Computer Lab</h2>
              </div>
          </div>
          <div layout="row">
              <div flex class="md-whiteframe-4dp" layout-padding layout-margin>
                  <h3 class="md-headline">Generate Report</h3>
                  <md-input-container>
                      <label>Property</label>
                      <md-select ng-model="clc.selectedProperty" style="min-width: 200px;">
                          <md-option ng-value="property" ng-repeat="property in clc.propertyList.list | orderBy: property">{{ property }}</md-option>
                      </md-select>
                      <md-button class="md-raised md-primary" ng-click="clc.clearProperty()">Clear</md-button>
                  </md-input-container>
                  <md-input-container>
                      <label>Start Date</label>
                      <md-datepicker ng-model="clc.startDate" />
                  </md-input-container>
                  <md-input-container>
                    <label>End Date</label>
                    <md-datepicker ng-model="clc.endDate" />
                </md-input-container>
                <div layout="row">
                      <md-button class="md-raised md-primary" ng-click="clc.generateReport(clc.startDate, clc.endDate, clc.selectedProperty)">Generate Report</md-button>
                </div>
              </div>
          </div>
          <section layout="row">
            <md-button ng-click="clc.openAddDialog">
            <md-input-container>
              <label>Database Key</label>
              <input type="textarea" ng-model="element.type">
            </md-input-container>
          </section>
          <section id="admin-lab-text-container">
            <div ng-repeat="element in clc.labText.list" layout="row">
              <div flex layout-padding layout-margin class="md-whiteframe-4dp">
                <div>
                  <h3 class="md-title" style="margin-top:0;">{{element.type}}</h3>
                </div>
                <md-input-container class="md-block">
                  <label>English</label>
                  <input type="textarea" ng-model="element.english">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Spanish</label>
                  <input type="textarea" ng-model="element.spanish">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Somali</label>
                  <input type="textarea" ng-model="element.somali">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Hmong</label>
                  <input type="textarea" ng-model="element.hmong">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Oromo</label>
                  <input type="textarea" ng-model="element.oromo">
                </md-input-container>
                <div layout="row">
                  <md-button type="button" class="md-primary md-raised" ng-click="clc.updateLabText(element)">Update {{element.type}}</md-button>
                </div>
              </div>
            </div>
          </section>
      </div>
  </md-content>

</div>