<header ng-include="'/views/partials/header-login.html'"></header>

<div layout="column" class="aeon-logo-bg">
    <div layout="row" layout-align="center center">
        <div id="thankyou-message" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>{{sc.surveyObject.thanks}}</p>
            <p>{{sc.surveyObject.requestresults}}</p>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <img class="surveyCompleteBadge" ng-hide="{{sc.surveyLanguage.language==='spanish'}}"
            src="../../assets/HomeScore-Survey-Complete-English.png">
        <img ng-hide="{{sc.surveyLanguage.language!=='spanish'}}" class="surveyCompleteBadge"
            src="../../assets/HomeScore-Survey-Complete-Spanish.png">
    </div>
</div>