<header ng-include="'/views/partials/header-survey.html'"></header>
<div class="survey-outer-wrapper" layout="row" layout-align="space-around center" ng-if="sc.household && sc.UserService.userObject.surveyEligible">

    <div layout="column" class="aeon-logo-bg">
        <div layout="row" layout-align="center">
            <div class="progressbar">
                <i class="material-icons md-48">looks_one</i>
                <i class="material-icons md-48">looks_two</i>
                <i class="material-icons md-48">looks_3</i>
                <i class="material-icons md-48">looks_4</i>
                <i class="material-icons md-48">looks_5</i>
                <i class="material-icons md-48">looks_6</i>
            </div>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section">
                <hr>
                <p class="householdDisclaimer">{{sc.surveyObject.household_disclaimer}}</p>
                <hr>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>28. {{sc.surveyObject[28]}}</p>
                <md-input-container class="md-block">
                    <label>{{sc.surveyObject.writeanswer}}</label>
                    <input id="question-28-input" type="text" ng-model="sc.surveyAnswers.list[27].answer">
                </md-input-container>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>29. {{sc.surveyObject[29]}}</p>
                <md-input-container class="md-block">
                    <label>{{sc.surveyObject.enter_number}}</label>
                    <input id="question-29-input" type="number" ng-model="sc.surveyAnswers.list[28].answer">
                </md-input-container>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>30. {{sc.surveyObject[30]}}</p>
                <md-button class="md-raised" ng-click="sc.respond(30,true)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[29].answer == true}">{{sc.surveyObject.yes}}
                </md-button>
                <md-button class="md-raised" ng-click="sc.respond(30,false)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[29].answer == false}">{{sc.surveyObject.no}}
                </md-button>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>31. {{sc.surveyObject[31]}}</p>
                <md-input-container class="md-block">
                    <label>{{sc.surveyObject.writeanswer}}</label>
                    <input id="question-31-input" type="text" ng-model="sc.surveyAnswers.list[30].answer">
                </md-input-container>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>32. {{sc.surveyObject[32]}}</p>
                <md-button class="md-raised" ng-click="sc.respond(32,1)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[31].answer == 1}">
                    {{sc.surveyObject.military_active}}
                </md-button>
                <md-button class="md-raised" ng-click="sc.respond(32,2)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[31].answer == 2}">
                    {{sc.surveyObject.military_veteran}}
                </md-button>
                <md-button class="md-raised" ng-click="sc.respond(32,3)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[31].answer == 3}">{{sc.surveyObject.no}}
                </md-button>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <p>33. {{sc.surveyObject[33]}}</p>
                <md-button class="md-raised" ng-click="sc.respond(33,true)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[32].answer == true}">{{sc.surveyObject.yes}}
                </md-button>
                <md-button class="md-raised" ng-click="sc.respond(33,false)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[32].answer == false}">{{sc.surveyObject.no}}
                </md-button>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-sectio section-long-questionn">
                <p>34. {{sc.surveyObject[34]}}</p>
                <md-button class="md-raised survey-button-longtext" ng-click="sc.respond(34,1)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 1}">{{sc.surveyObject.income1}}
                </md-button>
                <md-button class="md-raised survey-button-longtext" ng-click="sc.respond(34,2)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 2}">{{sc.surveyObject.income2}}
                </md-button>
                <md-button class="md-raised survey-button-longtext" ng-click="sc.respond(34,3)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 3}">{{sc.surveyObject.income3}}
                </md-button>
                <md-button class="md-raised  survey-button-longtext survey-button-longtext" ng-click="sc.respond(34,4)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 4}">
                    {{sc.surveyObject.income4}}
                </md-button>
                <md-button class="md-raised  survey-button-longtext survey-button-longtext" ng-click="sc.respond(34,5)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 5}">
                    {{sc.surveyObject.income5}}
                </md-button>
                <md-button class="md-raised  survey-button-longtext survey-button-longtext" ng-click="sc.respond(34,6)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 6}">
                    {{sc.surveyObject.income6}}
                </md-button>
                <md-button class="md-raised  survey-button-longtext survey-button-longtext" ng-click="sc.respond(34,7)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 7}">
                    {{sc.surveyObject.income7}}
                </md-button>
                <md-button class="md-raised  survey-button-longtext survey-button-longtext" ng-click="sc.respond(34,8)"
                    ng-class="{ 'md-accent': sc.surveyAnswers.list[33].answer == 8}">
                    {{sc.surveyObject.income8}}
                </md-button>
            </section>
        </div>
        <div layout="row" layout-align="center">
            <section class="survey-question-section section-long-question">
                <h2>{{sc.surveyObject.list_members}}</h2>
                <div class="householdRow" ng-repeat="member in sc.surveyAnswers.householdMembers">
                    <div id="{{'householdRow' + $index + 'name'}}" class="household-row-question">
                        <md-input-container class="md-block">
                            <label>{{sc.surveyObject.name}}</label>
                            <input id="{{'householdRow' + $index + 'nameInput'}}" type="text"
                                ng-model="sc.surveyAnswers.householdMembers[$index].name">
                        </md-input-container>
                    </div>
                    <div id="{{'householdRow' + $index + 'dateOfBirth'}}" class="household-row-question">
                        <span class="householdQuestionLabel">{{sc.surveyObject.date_of_birth}}</span>
                        <md-datepicker ng-model="sc.surveyAnswers.householdMembers[$index].dateOfBirth">
                        </md-datepicker>
                    </div>
                    <div id="{{'householdRow' + $index + 'gender'}}" class="household-row-question">
                        <span class="householdQuestionLabel">{{sc.surveyObject[25]}}</span>
                        <md-button class="md-raised" ng-click="sc.setHouseholdMemberGender($index, 'female')"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].gender == 'female'}">
                            {{sc.surveyObject.gender1}}
                        </md-button>
                        <md-button class="md-raised" ng-click="sc.setHouseholdMemberGender($index, 'male')"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].gender == 'male'}">
                            {{sc.surveyObject.gender2}}
                        </md-button>
                        <md-input-container class="self-identify-input">
                            <label>{{sc.surveyObject.gender3}}</label>
                            <input type="text" ng-model="sc.surveyAnswers.householdMembers[$index].genderSelfIdentify"
                                ng-change="sc.setHouseholdMemberGender($index, sc.surveyAnswers.householdMembers[$index].genderSelfIdentify)">
                        </md-input-container>
                    </div>
                    <div id="{{'householdRow' + $index + 'race'}}" class="household-row-question">
                        <span class="householdQuestionLabel">{{sc.surveyObject.race_check_all}}</span>
                        <md-button class="md-raised survey-button-longtext"
                            ng-click="sc.setHouseholdMemberRace($index, sc.RACE.WHITE)"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].race.white === true }">
                            {{sc.surveyObject.race_white}}
                        </md-button>
                        <md-button class="md-raised survey-button-longtext"
                            ng-click="sc.setHouseholdMemberRace($index, sc.RACE.BLACK)"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].race.black === true }">
                            {{sc.surveyObject.race_black}}
                        </md-button>
                        <md-button class="md-raised survey-button-longtext"
                            ng-click="sc.setHouseholdMemberRace($index, sc.RACE.ISLANDER)"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].race.islander === true }">
                            {{sc.surveyObject.race_islander}}
                        </md-button>
                        <md-button class="md-raised survey-button-longtext"
                            ng-click="sc.setHouseholdMemberRace($index, sc.RACE.ASIAN)"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].race.asian === true }">
                            {{sc.surveyObject.race_asian}}
                        </md-button>
                        <md-button class="md-raised survey-button-longtext"
                            ng-click="sc.setHouseholdMemberRace($index, sc.RACE.NATIVE)"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].race.native === true }">
                            {{sc.surveyObject.race_native}}
                        </md-button>
                        <md-input-container class="self-identify-input">
                            <label>{{sc.surveyObject.race_other}}</label>
                            <input type="text" ng-model="sc.surveyAnswers.householdMembers[$index].race.selfIdentify">
                        </md-input-container>
                    </div>
                    <div id="{{'householdRow' + $index + 'hispanic'}}" class="household-row-question">
                        <span class="householdQuestionLabel">{{sc.surveyObject.race_hispanic}}</span>
                        <md-button class="md-raised"
                            ng-click="sc.surveyAnswers.householdMembers[$index].hispanic = true"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].hispanic === true}">
                            {{sc.surveyObject.yes}}
                        </md-button>
                        <md-button class="md-raised"
                            ng-click="sc.surveyAnswers.householdMembers[$index].hispanic = false"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].hispanic === false}">
                            {{sc.surveyObject.no}}
                        </md-button>
                    </div>
                    <div id="{{'householdRow' + $index + 'disabled'}}" class="household-row-question">
                        <span class="householdQuestionLabel">{{sc.surveyObject.disabled}}</span>
                        <md-button class="md-raised"
                            ng-click="sc.surveyAnswers.householdMembers[$index].disabled = true"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].disabled === true}">
                            {{sc.surveyObject.yes}}
                        </md-button>
                        <md-button class="md-raised"
                            ng-click="sc.surveyAnswers.householdMembers[$index].disabled = false"
                            ng-class="{ 'md-accent': sc.surveyAnswers.householdMembers[$index].disabled === false}">
                            {{sc.surveyObject.no}}
                        </md-button>
                    </div>

                    <md-button class="md-raised removebtn survey-button-longtext"
                        ng-click="sc.removeHouseholdMember($index)">
                        {{sc.surveyObject.remove_household_member}}
                    </md-button>
                    <hr style="height:2px">
                </div>

                <md-button class="md-raised md-primary survey-button-longtext" ng-click="sc.addHouseholdMember()">
                    {{sc.surveyObject.add_household_member}}</md-button>

        </div>
        <div layout="row" layout-align="center" layout-padding layout-margin>
            <div class="cancelbtn-container" style="margin-right: 150px;">
                <md-button class="cancelbtn md-raised" ng-click='sc.cancelSurvey()'>{{sc.surveyObject.cancel}}
                </md-button>
            </div>

            <div>
                <md-button id="goBackButton" class="md-raised" ng-click='sc.go("/survey-q4")'>
                    {{sc.surveyObject.goback}}
                </md-button>
                <md-button class="md-raised md-primary" ng-click='sc.submitSurvey()'>{{sc.surveyObject.submit}}
                </md-button>
            </div>
            </section>
        </div>

    </div>
</div>