<header ng-include="'/views/partials/header-logout-button.html'"></header>

<div layout="column" id="survey-language-top-spacer"></div>

<div layout="row" layout-align="space-around" ng-if="sc.UserService.userObject.surveyEligible">
    <div layout="column" class="survey-language-langbtn-container" layout-align="space-around center">
        <md-button class="survey-language-button md-raised " ng-class="{'md-primary':sc.surveyLanguage.language=='english'}" ng-click='sc.getSurvey("english", sc.propertyChosen)'>English</md-button>
        <md-button class="survey-language-button md-raised " ng-class="{'md-primary':sc.surveyLanguage.language=='hmong'}" ng-click='sc.getSurvey("hmong", sc.propertyChosen)'>Hmoob</md-button>
        <md-button class="survey-language-button md-raised " ng-class="{'md-primary':sc.surveyLanguage.language=='somali'}" ng-click='sc.getSurvey("somali", sc.propertyChosen)'>Somali</md-button>
        <md-button class="survey-language-button md-raised " ng-class="{'md-primary':sc.surveyLanguage.language=='spanish'}" ng-click='sc.getSurvey("spanish", sc.propertyChosen)'>Español</md-button>
        <md-button class="survey-language-button md-raised " ng-class="{'md-primary':sc.surveyLanguage.language=='oromo'}" ng-click='sc.getSurvey("oromo", sc.propertyChosen)'>Oromo</md-button>
    </div>
</div>

<div layout="row" layout-align="center center" id="survey-begin-container" ng-if="sc.UserService.userObject.surveyEligible">
    <md-button class=" md-raised md-primary" ng-click='sc.go("/survey-property")'>{{sc.surveyObject.continue}}</md-button>
</div>